In [ ]:
from scipy.special import cbrt,comb,perm
x=cbrt([27,64])
print(type(x))
print(x)
print()
print(perm(6,2))
print(comb(6,2))


import numpy as np
from scipy import linalg
m=np.array([[10,20],[30,40]])
print(linalg.det(m))

eig_val,eig_vect=linalg.eig(m)
print(eig_val,eig_vect)
print(eig_vect.dtype)


from scipy import stats
m=np.array([[22,23,14,22,56],[22,46,23,14,14]])
modeval=stats.mode(m,axis=1)
print(modeval)

*Pandas Series:
1. One-dimensional
2. Homogenous – Series elements must be of the same data type.
3. Size-immutable – Once created, the size of a Series object cannot be changed.

*Pandas DataFrame:
1. Two-dimensional
2. Heterogenous – DataFrame elements can have different data types.
3. Size-mutable – Elements can be dropped or added in an existing DataFrame.

In [ ]:
import numpy as np
import pandas as pd
print(np.random.randn(5))
s = pd.Series(np.random.randn(5),
              index=['a', 'b', 'c', 'd', 'e'])  #Default index: 0,1,2,3.....
print(s)
print()
 #filter series and display all values which are < 1
print()

print()
print(s[['e','d','b']])
print()
np.exp(s)

[ 0.43063686  0.11852327 -0.52315497  0.08672089 -1.5412264 ]
a    1.067511
b    0.989702
c   -0.633798
d   -0.594718
e    0.016504
dtype: float64


e    0.016504
d   -0.594718
b    0.989702
dtype: float64

e    0.016504
d   -0.594718
b    0.989702
dtype: float64

a    2.908131
b    2.690432
c    0.530573
d    0.551718
e    1.016641
dtype: float64

In [27]:
import numpy as np
import pandas as pd
print(np.random.randn(5))
s = pd.Series(np.random.randn(5),
              index=['a', 'b', 'c', 'd', 'e'])
print(s[s<1])

[ 0.98848565 -0.10459492 -1.39988773  1.00201443 -0.86886254]
b   -1.011231
c   -0.431789
d   -0.110930
dtype: float64

In [28]:
import numpy as np
import pandas as pd
print(np.random.randn(5))
s = pd.Series(np.random.randn(5),
              index=['a', 'b', 'c', 'd', 'e'])
print(s[[4,3,1]])

[ 0.43838727  0.12428022 -0.84784304  1.19139262 -1.57413205]
e   -0.384401
d   -2.253692
b    0.763963
dtype: float64

In [29]:
print(s)
print()
print(s+s)
print()
       # b-e   a-d
print(s[1:]+s[:-1])
print(s[:3])  #retrieve rows from 0 to 2
print(s['d']) #this will retrieve the row with index d
#print(s['f']) #it is Key error

a   -1.279060
b    0.763963
c    0.568531
d   -2.253692
e   -0.384401
dtype: float64

a   -2.558119
b    1.527927
c    1.137061
d   -4.507384
e   -0.768801
dtype: float64

a         NaN
b    1.527927
c    1.137061
d   -4.507384
e         NaN
dtype: float64
a   -1.279060
b    0.763963
c    0.568531
dtype: float64
-2.2536917613346894

In [30]:
d = {'b' : 1, 'a' : 0, 'c' : 2} #dictionary

s1=pd.Series(d) #keys will become index and values will become value
print(s1)

s1=pd.Series(5,index=[1,2,3]) #keys will become index and values will become value
print(s1)

s=pd.Series(['rainy','no rain','sunny'],
        index=['monday','tuesday','wednesday'])
print(s)
print(s['monday'])

# NAN - Not a Number

b    1
a    0
c    2
dtype: int64
1    5
2    5
3    5
dtype: int64
monday         rainy
tuesday      no rain
wednesday      sunny
dtype: object
rainy

In [31]:
import pandas as pd

In [32]:
df=pd.read_table('http://bit.ly/chiporders')

print(df.shape)
s=df['item_name'] #print column in Series format
print(type(s))

(4622, 5)
<class 'pandas.core.series.Series'>

In [33]:
s=df[['item_name']] #print item_name column in DataFrame format
print(type(s))
print(df.columns)  #print all column names

<class 'pandas.core.frame.DataFrame'>
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
print(df.head())  #prints first 5 lines
print(df.tail())  #prints last 5 lines

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
      order_id  quantity           item_name  \
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

In [ ]:
print(df.head(12))  #prints first 12 lines
print(df.tail(7))  #prints last 7 lines

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
4          2         2                           Chicken Bowl
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                          Steak Burrito
10         5         1                    Chips and Guacamole
11         6         1                   Chicken Crispy Tacos

                                   choice_description item_price
0                                                 NaN     $2.39
1                                        [Clementine]     $3.39
2                                             [Apple]     $3.39
3                                                 NaN     $2.39
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                 NaN     $1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9   [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                NaN     $4.45
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
      order_id  quantity            item_name  \
4615      1832         1   Chicken Soft Tacos
4616      1832         1  Chips and Guacamole
4617      1833         1        Steak Burrito
4618      1833         1        Steak Burrito
4619      1834         1   Chicken Salad Bowl
4620      1834         1   Chicken Salad Bowl
4621      1834         1   Chicken Salad Bowl

                                     choice_description item_price
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

In [34]:
print(df.iloc[0:4,1:3])  #to retrieve data by integer position
#loc- locaton. Includes the last limit
#iloc- integer location. Excludes the last limit

   quantity                              item_name
0         1           Chips and Fresh Tomato Salsa
1         1                                   Izze
2         1                       Nantucket Nectar
3         1  Chips and Tomatillo-Green Chili Salsa

In [35]:
#it will exclude 7th row
#display rows from 0-6 and columns 1 onward all
print(df.iloc[0:7,1:])

   quantity                              item_name  \
0         1           Chips and Fresh Tomato Salsa
1         1                                   Izze
2         1                       Nantucket Nectar
3         1  Chips and Tomatillo-Green Chili Salsa
4         2                           Chicken Bowl
5         1                           Chicken Bowl
6         1                          Side of Chips

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69

In [36]:
print(df.loc[0:7,'item_name'])

0             Chips and Fresh Tomato Salsa
1                                     Izze
2                         Nantucket Nectar
3    Chips and Tomatillo-Green Chili Salsa
4                             Chicken Bowl
5                             Chicken Bowl
6                            Side of Chips
7                            Steak Burrito
Name: item_name, dtype: object

In [37]:
#store all columns except the last column
df1=df.iloc[:,:-1]
#It will not exclude 6 th row
print(df.loc[2:6,['order_id','item_name']]) #this is by location it will include 6 th row also

   order_id                              item_name
2         1                       Nantucket Nectar
3         1  Chips and Tomatillo-Green Chili Salsa
4         2                           Chicken Bowl
5         3                           Chicken Bowl
6         3                          Side of Chips

In [38]:
print(df.mean(axis=0))  #to calculate columnwise mean

order_id    927.254868
quantity      1.075725
dtype: float64

<ipython-input-38-0b6acee95dc8>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean(axis=0))  #to calculate columnwise mean

In [39]:
print(df.mean(axis=1))  #to calculate rowwise mean

0         1.0
1         1.0
2         1.0
3         1.0
4         2.0
        ...
4617    917.0
4618    917.0
4619    917.5
4620    917.5
4621    917.5
Length: 4622, dtype: float64

<ipython-input-39-fca4fa385392>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean(axis=1))  #to calculate rowwise mean

In [40]:
print(df.std())

order_id    528.890796
quantity      0.410186
dtype: float64

<ipython-input-40-c12939f2b3b0>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.std())

In [41]:
print(df.median())

order_id    926.0
quantity      1.0
dtype: float64

<ipython-input-41-71fafddbd984>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.median())

In [42]:
print(df.max())

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price               $9.39
dtype: object

<ipython-input-42-63285b1d6ff3>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.max())

In [43]:
print(df.describe()) #all statistical measures for all integer columns

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [44]:
print(df.info())  #how many not null values and data type of all columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [45]:
# We found null values at order id 3, hence we have to remove or replace these rows. This is called "Data Cleaning" or "Data Munging"
df['item_price1']=df['item_price'].map(lambda x:x.replace('$','0')) #to replace $ with 0

In [46]:
df['item_price2']=df['item_price1'].astype('float')  #to convert from object data type to int
df['discounted_price']=df['item_price2']*0.85  #add new column

In [47]:
df.pop('choice_description') # to delete the column

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [50]:
index_nm=df[df['discounted_price']>3].index
df.drop(index_nm,inplace=True)  #drop all rows with discounted_price > 3 and ovewrite the original frame
df.drop([2,3,4],axis=0,inplace=True)

KeyError: '[4] not found in axis'

In [51]:

pd.unique(df['item_price'])
pd.value_counts(df['item_price']) #frequency of each distinct value

$1.25     264
$2.15     192
$2.95     174
$1.50     117
$1.09     106
$2.39     100
$1.69      99
$3.39      45
$2.50      27
$2.18      22
$3.00      10
$2.29       3
$3.27       2
$1.99       1
Name: item_price, dtype: int64

In [53]:
# Pandas Movie URL
import pandas as pd
df=pd.read_table('http://bit.ly/movieusers',sep="|",header=None);

In [55]:
df.columns=['userid','age','gender','profile','views']

In [56]:
df['views'].replace(to_replace='[a-zA-Z]{1,}', regex=True, value=0,inplace=True)

In [57]:
df['views1']=df['views'].astype(int);
df.views1.mean()

49897.803817603395